# Go related
*.exe
*.test
*.prof
*.out
*.pid
*.svg

# Compiled Object files, Static and Dynamic libs
*.o
*.a
*.so

# Folders
_vendor/
bin/
gen/
pkg/

# Local configuration file
.idea/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# SQLite database file (for SQLiteUserManager)
sqlite.db
